/*one-edge-shadow*/
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -10px black;
	   -moz-box-shadow: 0 8px 6px -10px black;
	        box-shadow: 0 8px 6px -10px black;
}

/*Right Shadow*/
.right-shadow {
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.5);
	box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.bottomRightShadow { 



box-shadow: 10px 10px 5px rgba(0,0,0,0.6); 
-moz-box-shadow: 10px 10px 5px rgba(0,0,0,0.6); 
-webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.6); -o-box-shadow: 10px 10px 5px rgba(0,0,0,0.6); 

}
