/*-------------------Sidebar FLoat Panel-------------------*/

.sidebarBox {

	margin-top:100px;
	right: 0;
	position: absolute;
}
.scrollingBox {
	/* Replace with the same width as sidebar */
}

.scrollingBox .energy{
	margin-top:20px;
}

.write-image-sidebar{
	position:relative;
}

.write-image-sidebar .text {
	padding-top:180px;
	font-family:myriad pro;
    position:absolute;
    top:10px;
	padding-right:15px;
	padding-left:10px;
	text-align:justify;
	line-height:1.8em;
	overflow:hidden;
}

.write-image-sidebar h5{
	font-size:38px;
}

.energy-box-btn{
	border: 0; 
	background: transparent;
	right:0;
	margin-left: 40px;
}

/*-------------------Search Box-------------------*/

.search-sidebar{
	vertical-align:middle;
	background:#003B65;
	height:40px;
	width:105px;
	border-radius:10px 0 0px 10px;  /*tl tr br bl*/
}

.search-image-sidebar img{margin-top:8px;}

.search-image-sidebar{
	position:relative;
}

.search-image-sidebar .text {
	font-family:myriad pro;
    position:absolute;
}

.search-submit-btn{
	border: 0; 
	background: transparent;
	margin-left: 0px;
	margin-left:20px;
}

.search-box-btn{
	border: 0; 
	background: transparent;
	right:0;
	margin-left: 0px;
}

/*---------------Various------------*/

#navbar ul li a{
	padding-top:10px;
}


/*Borders with ie 6-7-8 support*/
.rounded-corners {
   	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	behavior: url(border-radius.htc);
}

.article h3, h4, h5 {
	color:#335477;
	padding-top:0px !important;
	margin-top:0px;
}

#main {
	background-color:transparent;
}

#main .article{
	padding-top:15px;
	text-align:justify;
}

.article-text p{
	font-size:13px;
	color:#6B6B6D;
}

#body{padding-top:10px;padding-bottom:10px;}

#main {padding-bottom:15px;}


/*------------Top Image------------*/
#top-image img{
	-webkit-box-shadow: 0 8px 6px -10px black;
	-moz-box-shadow: 0 8px 6px -10px black;
	box-shadow: 0 8px 6px -10px black;
}

#top-image-container
{
	margin-bottom:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
}

/*------------Under Top Image Toolbar------------*/

#under-top-image div
{
	text-align:right;
}

#under-top-image .row{padding-bottom:5px;}

#under-top-image {margin-bottom:5px;}

header{margin-bottom:10px; padding-bottom:0px;}

#leftMenu
{padding-top:5px}

/*Vertical Menu*/
.accordion-body ul li { 
	list-style: none; 
}

.vertical-header
{
	height:40px;
}


.vertical-header span{
vertical-align:bottom;
	margin-bottom:100px;
	margin-left:3px;
	color:#D04E00;
	font-weight:bold
}

.vertical-menu-logo{
	margin-left:-24px;
	height:37px;
	background: url("../images/image.png") no-repeat;
}

.accordion-heading {
	font-size:12px;
}

.accordion-heading a{
	font-weight:bold;
	text-decoration:none;
	color:#335477 ;
}

.accordion-heading a span {
	color:#777;	
}


#sidebar hr{
margin:10px;
border-color: #D8D8D8 -moz-use-text-color -moz-use-text-color;
}

#boxes-container  hr
{
display:block;
    border:0px;
    height:10px;
	
	 background-image:url('../images/seperator.png');
}


.accordion-inner ul li a{
		font-size:11px;
}

.accordion-body ul li a{ 
	color:#777; 
	text-decoration:none;
}

.accordion-body ul li i, .accordion-body ul li , .accordion-toggle i{ 
	margin-right:10px; 
	
}

/*-----------------------------------------------*/
.container{
	background-color:transparent;
}

body{padding-top: 30px;}

.brand img{height:70px !important;}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #4A7DBC;
}

.navbar-default .navbar-nav > .active > a:hover
{color:#555; background-color: #4A7DBC;}

.accordion-body ul li { 
	list-style: none; 
}

.header-icons
{
	padding-left:8px;
	display:inline;
	vertical-align:middle;
}

#navbar ul li a i{
	padding-right:5px
}

.main-navbar{
	padding:0px;
}

.header-icons span
{
	font-size:30px;
}

.navbar 
{
	border:0px;
	background:transparent;
}

#social h3
{
	display:inline;
	padding-left:5px;
	color:#6B6B6D;
}

/*------------------footer-----------------*/

footer  {padding:10px 0px;}

footer .row{
	padding-top:20px;
	padding-bottom:20px;
}

.copyright
{
	font-size:10px;
	color:#6B6B6D;
}

.copyright a{
	text-decoration:none;
}

/*----------------Main Navbar-------------------*/

/*main navbar padding*/
.navbar-collapse{
	padding-right:0px !important;
	padding-left:0px !important;
}

/*For Vertical Aligning in header*/
.firstNavbar li a {
    line-height: 70px; /*Εδώ βάζω το ύψος της εικόνας (Brand)*/
	padding-left:0px;
}

/*---Responsive Overrides---*/

@media (max-width: 767px)
{
	
	.languages{
		border-top: 1px solid #EEE;
		border-bottom:1px solid #EEE;
		
	}
	.firstNavbar li a img {padding-left:10px;}
}

@media (max-width: 500px)
{
	.firstNavbar li a img {height:80px;padding-bottom:0px;margin-bottom:0px}
}

#copyright{text-align:right;}

@media (min-width: 1200px)
{
	.container{
		
		padding-right: 100px;
		padding-left: 100px; 
	}
}

@media (min-width: 767px) and (max-width: 992px){
	
	/*Boxes Responsive*/
	
	.image .text  h5{
		margin-bottom:3px !important;
	}
	
	.image .text 
	{
		padding-top:0px !important;
		top:7px !important;
		left:100px !important;
		width:120px !important;
		font-size:11px;
		padding-right:10px !important;
		padding-left:5px;
		line-height:1.2em !important;
	}
	

	
	.box-btn{
		margin-left:75px !important;
	
	}
	
	.box-btn img{
		margin-bottom:px !important;
	}
}

/*right before menu drops the bass!!*/
@media (max-width: 992px)
{
	#copyright, #social{text-align:center;}

}

@media (max-width: 332px)
{
	.image .text 
	{
		padding-top:0px !important;
		top:20px !important;
		left:120px !important;
		width:120px !important;
		font-size:11px;
		padding-right:10px !important;
		padding-left:5px;
		line-height:1.2em !important;
	}
	
	.box-btn{
		margin-left:75px !important;
	
	}
	
	.box-btn img{
		margin-bottom:px !important;
	}
	
}

/*when menu drops the bass!!*/
@media (max-width: 767px)and (min-width: 200px) { 

.birds, .paper{
		margin-bottom:20px;
}

.birds{margin-left:0px !important;}

.bookcase
{
	float:left !important;
}



#top-image-container
{
	display:none;
}

#under-top-image{
	margin-top:0px;
} 

#under-top-image .row{
	margin-top:0px;
	text-align:center;
}

.navbar-collapse{padding-right:15px !important;padding-left:0px !important;}

footer .container{text-align:center; background:#404041;}
footer #social{padding-bottom:10px;}
#copyright, #social{text-align:center;}

.brand{padding-left:10px; }

.navbar 
{
	border:1px;
}

  header{
    text-align:center;
  }
 
  
  .navbar .nav >li{
    float:none;
	display: inline-block;
  }
  
  .navbar-header{
	border-top: 1px solid #EEE;
}
  
  .navbar .navigation-menu >li{
	display:table;
	 text-align:center !important;
	 float:none;
	
  }
  
  .navbar .navigation-menu >li a{
	font-family:Myriad Pro !important;
  }
  
  .slogan{

	padding-top:100px;
  }
  
 .brand
  {
	margin-top:20px;
 }
.header-logo-panel{padding-top:30px;padding-bottom:0px;}
}

/*------------Color Classes--------------------*/


.black{
	color: black !important;
}

.grey
{
	color:#777; 
}
/*------------------Boxes------------------------*/



.box-btn{
	border: 0; 
	background: 
	transparent;
	margin-left:110px;
}

.box-content{
	padding:10px;
}

.image {
    position:relative;
}

.image .text h5{
	font-weight:normal;
	font-size:13px;
}

.image .text {
padding-top:10px;
	font-family:myriad pro;
    position:absolute;
    top:10px;
    left:130px;
    width:160px;
	font-size:11px;
	padding-right:15px;
	padding-left:5px;
	text-align:justify;
	line-height:1.8em;
	overflow:hidden;
}

#boxes-container
{
	margin-bottom:20px;
}

#boxes-container .row
{
	padding-bottom:40px;
}

.orange {
    color: #CE4D00 !important;
}

.blue{color:#1B3D63;}

.bordeaux{
	color: #860015 !important;
}

.green {color:#147739;}

.mustard{
	color: #5e3816 !important;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.background-grad
{

background: #999999;
background: -moz-linear-gradient(left, #dedede  0%, #ffffff 100%);

background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#dedede ), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(left, #dedede  0%, #ffffff 100%);

background: -o-linear-gradient(left, #dedede 0%, #ffffff 100%);
background: -ms-linear-gradient(left, #dedede 0%, #ffffff 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ffffff',GradientType=1 );
-ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ffffff',GradientType=1 );
background: linear-gradient(left, #dedede 0%, #ffffff 100%);

}

#top-slider-container
{
	text-align:center;
	margin-bottom:20px
}

